{% extends "account/base.html" %}
{% load static %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}

{% block title %}Import Racer Download{% endblock %}
{% block inner %}
  <div>
    <b>Upload/import "Race promoter download" records from USAC</b>
    {{ upload_done }}
    {% if user.is_staff %}
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="usacdownload" value="usacdownload">
        <button type="submit" class="button_body_orange">
          Upload
        </button>
      </form>
      {% if attempted %}
        <div>Attempted records: {{ attempted }}</div>
        <div>Duplicate records not imported: {{ duplicates }}</div>
        <div>Rows created: {{ rows_created }}</div>
        <div>Records with bad or missing data. Probably still imported.</div>
        {% for e in errors %}
          <div>{{ e }}</div>
        {% endfor %}
      {% endif %}
    {% else %}
      <p>You are not authorized to view this page.</p>
    {% endif %}
  </div>
{% endblock %}
