@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply sm:text-xl md:text-2xl lg:text-3xl mb-3 font-bold text-gray-900;
  }

  h2 {
    @apply capitalize font-bold sm:text-2xl text-xl mb-3 text-gray-900;
  }

  h3 {
    @apply text-xl font-bold text-orange-600 m-2;
  }

  h4 {
    @apply text-xl font-bold leading-tight text-gray-900;
  }

  p {
    @apply text-base text-gray-700 text-justify leading-relaxed;
  }

  label {
    @apply block text-sm font-medium text-gray-700;
  }
}


@layer components {

  .bctextgreen {
    @apply text-green-800 dark:text-green-800 hover:text-green-900 dark:hover:text-green-900;
  }

  .logo-container {
    @apply z-50 absolute invisible sm:visible left-px top-px object-scale-down h-auto w-20 lg:w-28 md:w-24 rounded-full;
  }

  .backtxt {
    @apply text-orange-600 hover:underline;
  }

  .small_avatar {
    @apply w-7 rounded-full mx-3;
  }

  .message_box {
    @apply flex items-center text-gray-800 border-2 border-orange-600 bg-yellow-100 justify-center my-5;
  }

  .message_list {
    @apply font-bold list-disc list-inside;
  }

  /*Action Buttons*/
  .join_button {
    @apply px-3 py-1 text-xs font-medium text-center text-white bg-orange-600 rounded-lg hover:bg-orange-700
    focus:ring-4 focus:outline-none focus:ring-blue-300;
  }

  .joinbutton {
    @apply inline-flex text-white bg-orange-600  py-2 px-6 m-3 hover:bg-orange-800 rounded;
  }

  .signin_button {
    @apply px-3 py-1 text-xs font-medium text-center text-white bg-bc_cyan rounded-lg hover:bg-bc_cyan_hover
    focus:ring-4 focus:outline-none focus:ring-blue-300;
  }

  .button_body_orange {
    @apply px-3 py-1 m-2 text-xs md:text-base font-medium text-center text-white bg-orange-600 rounded-lg
    hover:bg-orange-700
    focus:ring-4 focus:outline-none focus:ring-blue-300;
  }

  .button_body_cyan {
    @apply px-3 py-1 m-2 text-xs md:text-base font-medium text-center text-white bg-bc_cyan rounded-lg
    hover:bg-bc_cyan_hover
    focus:ring-4 focus:outline-none focus:ring-blue-300;
  }

  /*Header Menu*/
  .user_menu_txt {
    @apply block bctextgreen font-semibold text-base uppercase hover:text-green-900 hover:underline
    cursor-pointer;
  }


  .top_menu_txt {
    @apply inline-block text-xs lg:text-base md:text-sm px-2 py-2 font-semibold uppercase bctextgreen;
  }


  .menu_txt {
    @apply block text-sm lg:text-xl md:text-sm px-2 py-5 font-semibold uppercase bctextgreen
    hover:text-white hover:bg-black cursor-pointer;
  }

  .sub_menu {
    @apply group-hover:block absolute hidden -ml-2 px-2 py-2 mt-5 bg-black;
  }

  .menu_txt_sub {
    @apply block bg-black text-white font-semibold text-xs lg:text-base md:text-sm uppercase hover:underline
    cursor-pointer;
  }

  .menu_dropdown_li {
    @apply relative px-1 text-green-800 hover:text-green-900 cursor-pointer font-bold uppercase tracking-wide;
  }

  /* 2nd NAV flowbite based*/
  /*####################*/
  .nav_text {
    @apply font-semibold text-green-800 dark:text-green-800 hover:text-white dark:hover:text-white;
  }

  .nav {
    @apply bg-white;
    /*dark:bg-gray-900 dark:border-gray-700*/
  }

  .nav_div {
    @apply w-full flex flex-wrap items-center justify-end  p-0 md:p-0;
  }

  .nav_title {
    @apply bctextgreen pb-8 pt-0 text-base font-semibold whitespace-nowrap md:text-xl
    lg:ml-28 md:ml-24 sm:ml-20;
    /*dark:text-white*/
  }

  .nav_logo {
    @apply absolute invisible sm:visible left-px -top-px object-scale-down h-auto w-20 lg:w-28 md:w-24 rounded-full;
  }

  .nav_mobile_button {
    @apply inline-flex items-center p-3  justify-center text-sm nav_text hover:text-white hover:bg-black
    rounded-md md:hidden focus:outline-none focus:ring-2 focus:ring-gray-200;
    /* dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600*/
  }

  .nav_ul {
    @apply flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row
    md:mt-0 md:border-0 md:bg-white;
    /*dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700*/
  }

  .nav_link {
    @apply block uppercase lg:text-xl md:text-sm py-4 px-2 nav_text bg-white hover:bg-black
    rounded-t-md md:bg-transparent md:m-0;
    /*md:dark:text-blue-500 dark:bg-blue-600 md:dark:bg-transparent*/
  }

  .nav_dropdown_div {
    @apply z-10 hidden font-normal -inset-y-3 bg-black divide-y divide-gray-100 rounded-md shadow w-36;
    /*dark:bg-gray-700 dark:divide-gray-600*/
  }

  .nav_dropdown_ul {
    @apply py-2 text-sm;
    /*dark:text-gray-400;*/
  }

  .nav_dropdown_link {
    @apply block uppercase px-4 py-2 nav_text text-white hover:bg-black hover:text-gray-300 hover:underline;
    /*dark:hover:bg-gray-600*/
    /*dark:hover:text-white*/
  }

  /*Custom text/font*/
  /*####################*/
  .org_name {
    @apply text-base font-bold leading-none text-orange-600 hover:text-orange-800 mr-2;
  }

  .org_logo {
    @apply w-[150px] h-[150px] object-cover object-center;
  }

  .org_logo_sm {
    @apply w-[75px] h-[75px] object-contain object-center;
  }

  .ptitle {
    @apply sm:text-2xl md:text-3xl lg:md:text-4xl mb-3 font-medium text-gray-900;
  }

  .msgbox {
    @apply flex-col items-center justify-center my-5;
  }

  .detailrow {
    @apply flex items-center justify-center my-5;
  }

  /*Search and filters*/
  .submit_search {
    @apply bg-bc_cyan hover:bg-bc_cyan_hover text-white font-bold py-2 px-4 rounded-r;
  }

  /*carrousel*/
  /*.carrousel_main {*/
  /*    @apply flex overflow-x-auto snap-mandatory snap-x hover:scroll-auto items-start mb-8 md:mb-0 sm:mb-0*/
  /*    w-5/6 md:w-1/2 sm:w-1/4;*/
  /*}*/
  .carrousel_main {
    @apply flex mb-8 md:mb-0 sm:mb-0
    w-5/6 md:w-1/2 sm:w-1/4;
  }

  .carrousel_image {
    @apply object-scale-down max-h-[280px] mx-auto;
  }

  .carrousel_card {
    @apply cursor-pointer border-2 select-none hover:border-bc_cyan bg-white md:p-4 w-11/12;
  }


  /*Page Sections*/
  /*INRO SECTION*/
  /*Css for top layout like on event list, home page, club list*/
  .section_intro_content {
    @apply mx-auto flex px-5 py-5 md:flex-row flex-col justify-between items-center;
  }

  .hero_intro_image {
    @apply lg:max-w-md lg:w-full md:w-1/2 w-full mb-0 md:mb-0 sm:w-3/6 sm:mb-0;
  }

  .body_intro {
    @apply md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center;
  }

  /*.body_intro {*/
  /*    @apply md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center;*/
  /*}*/
  /*RACE RESULTS LIST*/
  .section_race_series_list {
    @apply w-full my-5 px-4 py-4 sm:px-6 bg-white md:py-3  md:px-3 xl:px-6 mt-7 overflow-x-auto;
  }

  .section_race_results_list {
    @apply w-full my-5 px-4 py-4 sm:px-6 bg-white md:py-3  md:px-3 xl:px-6 mt-7 overflow-x-auto;
  }

  .detail_open {
    @apply open:bg-white open:ring-1 open:ring-black/5 open:shadow-lg p-6 rounded-lg;
  }

  .summary {
    @apply font-normal text-orange-600 select-none;
  }

  /*Forms*/
  .form_name {
    @apply block text-sm font-medium text-gray-700;
  }

  .form_summary {
    @apply text-sm text-gray-900 font-semibold select-none;
  }

  .form_details {
    @apply open:ring-1 leading-3 open:shadow-lg p-3 rounded-lg;
  }

  .form_details_text {
    @apply mt-3 text-sm text-gray-700;
  }

  .form_input {
    @apply block w-full mt-1 border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500
    focus:border-indigo-500 sm:text-sm;
  }

  .form_textinput {
    @apply block mt-1 border-0 rounded-md shadow-sm p-2 text-sm md:text-base;
  }

  .form_textarea {
    @apply block mt-1 border-0 rounded-md shadow-sm p-2 text-sm md:text-base;
  }

  .form_name {
    @apply form_textinput ;

  }
}

