{% extends "BC/base_dv.html" %} {% block content %} {#
context['member_no_match'] = member_usac.exclude(license_number__in=matching)#}
{# context['usac_no_match'] = usacriders.exclude(license_number__in=matching)#}
{# context['member_no_license'] =
context['object'].members.all().order_by('usac_license_number').filter(Q(usac_license_number_verified=False)
| Q(usac_license_number__isnull=True))#} {# context['member_not_verified'] =
context['object'].members.all().order_by('usac_license_number').filter(Q(usac_license_number_verified=False)
& Q(usac_license_number__isnull=False))#} {# context['USACrider'] = usacriders#}
{# context['USACcount'] = usacriders.count()#} {# context['ClubAdmins']#}
<section class="container">
  <h2 style="padding-top: 75px">{{ object.name }}</h2>
  <br />
  {% if ClubAdmin %}
  <h3>Club Admins</h3>
  {% for a in ClubAdmins %}
  <p>{{ a.member.first_name }} {{ a.member.last_name }}</p>
  {% endfor %}
  <br />
  <h3>Club Members</h3>
  <h4>Member count: {{ object.members.all.count }}</h4>
  {% if not USACrider %}
  <h4>Did not find any active USAC members with your club name</h4>
  {% else %}
  <h4>USAC count: {{ USACcount }}</h4>
  {% endif %}
  <br />
  <table style="width: 90%">
    <tr style="text-align: center">
      <th>First Name</th>
      <th>Last Name</th>
      <th>Verified User</th>
      <th>USAC #</th>
      <th>USAC Verified</th>
    </tr>
    {% for member in object.members.all %}
    <tr>
      <th>{{ member.first_name }}</th>
      <th>{{ member.last_name }}</th>
      <th>{{ member.is_verified }}</th>
      <th>{{ member.usac_license_number }}</th>
      <th>{{ member.usac_license_number_verified }}</th>
    </tr>
    {% endfor %}
  </table>
  <hr />
  <h2>USAC members</h2>
  <table style="width: 90%">
    <tr style="text-align: center">
      <th>First Name</th>
      <th>Last Name</th>
      <th>Racing age</th>
      <th>license_number</th>
      <th>License Type</th>
      <th>License Status</th>
      <th>License Expiration</th>
    </tr>
    {% for rider in USACrider %}
    <tr>
      <th>{{ rider.first_name }}</th>
      <th>{{ rider.last_name }}</th>
      <th>{{ rider.race_age }}</th>
      <th>{{ rider.license_number }}</th>
      <th>{{ rider.license_type }}</th>
      <th>{{ rider.license_status }}</th>
      <th>{{ rider.license_expiration }}</th>
    </tr>
    {% endfor %}
  </table>

  {% else %}
  <h1>Access Denied</h1>
  <p>You are not authorized to view this page. You must be a club admin</p>
  {% endif %}
</section>
{% endblock %}
