{% extends "BC/base_dv.html" %} {% block content %} {% load static %}

<!-- content -->
<section class="content">
  <!-- event detail -->
  <div class="event-detail-outer">
    <div class="container">
      <div class="event-detail-inner">
        <!-- LEFT SIDE -->
        <div class="event-detail-left">
          <a href="{% url 'clubs-dv' %}" class="events-link">Back To Clubs</a>
          {% if object.prefs.banner_image %}
          <img
            src="{{ object.prefs.banner_image }}"
            alt="Club Banner"
            title=""
            class="img-responsive"
          />
          {% endif %}
          <div class="eventdetail-inner">
            <h2>{{ object.name }}</h2>
            {% if object.about %}
            <p>{{ object.about }}</p>
            {% endif %} {% if object.prefs.information_board_content %}
            <hr />
            {{ object.prefs.information_board_content | safe }} {% endif %}
          </div>
        </div>

        <!-- RIGHT SIDE -->
        <div class="event-detail-right">
          <h3>Club Details</h3>
          <div class="detailright-inner">
            <h4>Club Type</h4>
            <h5>{{ object.club_type }}</h5>
            <h5></h5>
          </div>
          <div class="detailright-inner">
            <h4>Membership</h4>
            <b>Status:&nbsp;</b>
            {% if ClubAdmin %}
            <b style="background-color: #5fc7c6; color: white"> Club Admin </b>
            {% elif user.member in org.members.all %}
            <b style="background-color: #5fc7c6; color: white"> Member </b>
            {% elif org.membership_open %} {% if not user.username %}
            <b style="background-color: #e85628; color: white">
              &nbsp;Sign in to Join
            </b>
            {% else %}
            <b style="background-color: #e85628; color: white">
              &nbsp;Membership Closed
            </b>
            {% endif %} {% endif %}
            <br />
            <b>{{ object.members.all.count }} </b> Members
            <br />
            {% if USACcount %} <b>{{ USACcount }}</b> USAC Members {% else %}
            Not a USA cycling club {% endif %}
          </div>

          <div class="detailright-inner">
            <h4>Links</h4>
            <b>
              {% if object.website %}
              <a
                style="text-decoration: underline"
                href="{{ object.website }}"
                target="_blank"
                rel="noopener noreferrer"
                >Website</a
              >
              {% endif %}
            </b>
            {% for k, v in object.social_media %}
            <a
              href="{{ v.type.string }}"
              target="_blank"
              rel="noopener noreferrer"
              >{{ v.type.meta.title }}</a
            >
            {% endfor %}
          </div>
          <div class="detailright-inner">
            <h4>Location</h4>
            <h5>
              <span>
                {% if object.city %} {{ object.city }} {% endif %} {% if
                object.state %} {{ object.state }} {% endif %}
              </span>
            </h5>
          </div>
          {% if ClubAdmin %}
          <div class="detailright-inner">
            <h4>Club Admin Options</h4>
            <b
              ><a href="{% url 'club-report-dv' object.id %}"
                >Admin report</a
              ></b
            >
            <br />
            <b
              ><a href="{% url 'edit-club-dv' object.id %}"
                >Edit Club Profile</a
              ></b
            >
          </div>
          {% endif %}
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
