{% extends "account/base.html" %}
{% load static i18n %}

{% block head_title %}E.B.C.{% endblock %}

{% block content_title %}{{ block.super }}{% endblock %}


{% block inner %}

  <section id='home_content' class="section_intro_content">
    {#    <div class="container mx-auto flex px-5 py-10 md:flex-row flex-col items-center">#}
    <div class="hero_intro_image">
      <img class="object-cover object-center rounded" alt="hero"
           src="{% static 'images/home_BCR_CX_Woman_Solo.jpg' %}">
    </div>
    <div
        class="body_intro">
      <h1>Welcome to Bicycle Colorado's Event Support Program.
      </h1>
      <p class="mb-4 leading-relaxed">
        Bicycle Colorado (BC) is a Denver-based nonprofit organization that has been advocating for safer and more
        equitable bicycling in Colorado for more than 30 years. On January 1, 2023, BC acquired the nonprofit
        organization Colorado Cycling, formerly known as the Bicycle Racing Association of Colorado (BRAC). BRAC was
        established in 1975, played a critical role in supporting amateur road, cyclocross and track racing and since
        2013 had served as the Local Association in Colorado for USA Cycling (USAC). In 2023, a Racing Membership with
        BC is included with the purchase of Race Membership in USAC.
      </p>
      <p class="mb-4 leading-relaxed">
        Bicycle Colorado has expanded our Event Support Program to assume the role played by BRAC. This program
        supports the key stakeholders in both competitive and non-competitive cycling events, including participants,
        event directors/promoters, clubs, teams, officials, event registrars, partners and volunteers. This support
        includes managing a comprehensive events calendar, event promotion, serving as the Local Association for USAC,
        providing advocacy support to make the sport safer, and helping events manage relationships with
        municipalities and permitting agencies. With this expanded Event Support Program, BC grows its reach and
        connections within the Colorado bicycling community to grow the movement of people who want to improve the
        safety, convenience and fun of bicycling in Colorado for everyone.
      </p>
      <p class="mb-4 leading-relaxed">
        We are currently constructing this new digital platform to replace the old BRAC website and provide new
        management tools for clubs and event directors. Please create a user member account to view your race results,
        join a club or team, participate in season-long Cup points competitions, receive discount offers from our
        partners and opt-in to communications. Clubs and organizations can also create accounts to manage their
        members, events and race results.
      </p>
    </div>
    {#    </div>#}
  </section>
  <section id="join">
    {% if not request.user.is_authenticated %}
      {% include "account/short_signup_form.html" %}
    {% endif %}
  </section>
{% endblock %}
