{% load static %}
<div class="hero_intro_image">
  <img class="object-cover object-center rounded" alt="hero"
       src="{% static 'images/home_BCR_CX_Woman_Solo.jpg' %}">
</div>
<div
  class="body_intro">
  <h1>Welcome to Bicycle Colorado's
    <br>
    Event Support Program
  </h1>
  <p class="mb-4">
    Create a member account to view your race results, join a club or team, participate in season-long Cup points
    competitions, receive discount offers from our partners and opt-in to updates. Clubs and organizations can
    create accounts to manage their members, events and race results.
    <b>Join the organization that is working to support bike riders, clubs, organizations and events
      across Colorado!</b>
    {% if not request.user.is_authenticated %}
      <button onclick="location.href='{% url "home" %}#join'" class="button_body_orange">JOIN Bicycle Colorado
      </button>
    {% endif %}

  </p>
  <p class="mb-4">
    Bicycle Colorado (BC) is a Denver-based nonprofit organization that has been advocating for safer and more
    equitable bicycling in Colorado for over 30 years. On January 1, 2023, BC acquired the nonprofit organization
    Colorado Cycling, formerly known as the Bicycle Racing Association of Colorado (BRAC). BRAC played a critical
    role in supporting amateur bicycle racing and served as the Local Association (LA) in Colorado for USA Cycling
    (USAC). In 2023, Bicycle Colorado serves as the LA for USAC in Colorado, and a Racing Membership with BC is
    included at no additional charge with the purchase of Race Membership in USAC.
  </p>
  <p class="mb-4"> Our Event Support Program assumes the role played by BRAC and
    supports the key
    stakeholders in both
    competitive
    and non-competitive cycling events. We manage a comprehensive events calendar, help events with marketing and
    promotion, provide advocacy support to make the sport safer, and help events manage relationships with
    municipalities, permitting agencies and insurance providers.
  </p>
</div>
