{% extends "base.html" %}
{% load static %}
{% block content %}
  <div
    class="flex flex-col mx-auto w-full md:w-1/2 items-center justify-center bg-white p-4 m-4 border-b sm:mb-5 dark:border-gray-600">
    <div>
      {% if org_type.1 == 'Club' %}
        {% include 'components/create_club_intro.html' %}
      {% endif %}
      {% if org_type.1 == 'Promoter' %}
        {% include 'components/create_promoter_intro.html' %}
      {% endif %}
      {% if org_type.1 == 'Photographer' %}
        {% include 'components/create_photographer_intro.html' %}
      {% endif %}
      {% include "forms/organization_form.html" %}
    </div>
  </div>
{% endblock %}
