<!-- templates/org/join_organization.html -->
{% extends "account/base.html" %}
{% load static %}
{% block inner %}

    <div class="flex justify-center">
      <div class="bg-white p-8 rounded-lg shadow-md w-full md:w-1/3">
        <h2 class="text-2xl font-bold mb-6">Join an Organization</h2>
        <form method="post" class="space-y-4">
          {% csrf_token %}
          <div class="flex flex-col">
            <label for="{{ form.organization.auto_id }}" class="font-semibold">Organization</label>
            {{ form.organization }}
          </div>
          <button type="submit" class="bg-indigo-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-indigo-800">Join</button>
      </form>
    </div>
  </div>
{% endblock %}
