{% extends "base.html" %}
{% load static %}

{% block title %}Club: {{ object.name }}{% endblock %}

{% block content %}
  <div class="mt-7 overflow-x-auto">
    <div class=msgbox>
      <ul>Messages to team admins go here:
        <li>Message 1</li>
        <li>Message 2</li>
        <li>Message 3</li>
      </ul>
    </div>
    <div class="flex flex-row">
      <div class="flex flex-col">
        <div class="flex flex-row justify-center items-center">
          <div class="flex flex-col ">
            {% if organization.logo %}
              <img class="org_logo" src="{{ organization.logo.url }}"
                   alt="avatar">
            {% else %}
              <img alt="ecommerce" class="org_logo"
                   src="https://dummyimage.com/150x150">
            {% endif %}
          </div>
          <div class="flex flex-col m-3 items-center">
            <div class=" flex flex-row org_name">
              {{ organization.name }}
            </div>
            <div class="flex flex-row br-gray-500 py-2"></div>
            <div class="flex flex-row">
              {#<form action="{% url 'membership:join_organization_from_details' organization.id %}" method="post">#}
              {#            {% csrf_token %}#}
              <button
                  href="{% url 'membership:join_organization_from_details' organization.id %}" type="submit"
                  class="joinbutton">Join Club
              </button>
              {#          </form>#}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" flex fex-row">
      <p class="text-base font-medium leading-none text-gray-500  mr-2"> Race Results: </p>
    </div>
    <div class="flex items-center justify-center">
      <table class="w-1/2 whitespace-nowrap">
        <tbody>
        <tr>
          <th>Date</th>
          <th>Event</th>
          <th>Place</th>
        </tr>
        <tr>
          <th>1/1/2023</th>
          <th>Awesome Event</th>
          <th>1st</th>
        </tr>
        </tbody>
      </table>
    </div>

    {#        <form action="{% url 'membership:join_organization_from_details' organization.id %}" method="post" class="inline-block">#}
    {#          {% csrf_token %}#}
    {#          <button type="submit" class="bg-indigo-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-indigo-800 transition duration-150 ease-in-out">Join</button>#}
    {#        </form>#}
    {##}
    {#      {% if OrgAdmins or user.is_staff %}#}
    {#   TODO: add admin menu#}
    {#        <div class="ml-10">#}
    {#            <a href="{% url 'membership:update_organization' organization.id %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">#}
    {#              <i class="far fa-edit mr-2"></i> Edit#}
    {#          </a>#}
    {#          <a href="{% url 'membership:delete_organization' organization.id %}" class="ml-2 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">#}
    {#              <i class="far fa-trash-alt mr-2"></i> Delete#}
    {#          </a>#}
    {#          </div>#}
    {#      {% endif %}#}
  </div>

{% endblock %}
