{% extends "base.html" %}
{% load static %}

{% block title %}Club: {{ object.name }}{% endblock %}

{% block content %}
<h1> {{ org.name }} Admin page</h1>
<div class="flex flex-row">
  <a href="{% url 'membership:update_organization' org.id %}"
  class="bg-cyan-600 hover:bg-cyan-600 text-white font-bold py-2 px-4 rounded">
  <i class="far fa-edit mr-2"></i> Edit Club
  </a>
</div>
<div class="flex flex-row">
  <h2>Member - Email - USAC Status</h2>
  {% for m in org.membership_set.all %}
    <div class="flex flex-row">
      {{ m.user.full_name }} - <a href="mailto{{ m.user.email }}">{{ m.user.email }}</a> - {{ m.user.usac_status }}
    </div>
  {% endfor %}
</div>
{% endblock %}
