{% extends "account/base.html" %}
{% load static %}
{% block inner %}
  <section id='club_list_content' class="section_intro_content">
    {#    <div class="container mx-auto flex px-5 py-10 md:flex-row flex-col items-center">#}
    <div class="hero_intro_image">
      <img class="object-cover object-center rounded" alt="hero" src="{% static 'images/team_photo.png' %}">
    </div>
    <div class="body_intro">
      <h1>Promoters</h1>
      <p class="mb-4 leading-relaxed">
        Lorem ipsum eget pulvinar at aliquet orci ac aenean, aptent risus aenean iaculis cras ad ultricies augue
        inceptos, curae lacus ornare pellentesque neque accumsan arcu. Sit adipiscing tempus faucibus platea congue
        venenatis tincidunt mattis, libero quisque fringilla magna in tempus augue congue, aptent phasellus quisque
        quam metus velit sapien. Feugiat tempor mi mattis mollis praesent a nisl, porttitor ut euismod semper elementum
        et lacinia, dictumst semper aliquet etiam lorem tortor, in phasellus fermentum augue conubia donec.
      </p>

      <p>
        <b>Create Your Promoter account at Bicycle Colorado</b><br>
        Basic account is fee<br>
        Featured account with promoter tools and featured event listing $750.
      </p>
      <div class="flex justify-end">
        <button href="{% url 'membership:create_organization' %}"
                class="button_body_orange">
          <a href="{% url 'membership:create_organization' %}">
            Create Promoter Account
          </a>
        </button>
      </div>
    </div>
    {#    </div>#}
  </section>

  <section id="club_list" class="bg-white mb-8">
    <div class="w-full">
      <div class="bg-white px-4 pt-3">
        <div class="items-center justify-end">
          <form method="GET" class="flex">
            <input type="search" name="search" placeholder="Search" value="{{ request.GET.search }}"
                   class="border border-gray-300 py-2 px-4 rounded-l">
            <button type="submit" class="submit_search">
              Search
            </button>
          </form>
        </div>
      </div>
      <!-- End filter and order -->
      <div class="container mx-auto px-4">
        {% for promoter in promoters %}
          {% if promoter.type == "promoter" %}
            <div>
              <div
                class=" flex justify-between grid grid-cols-3 rounded border-gray-100 border hover:border-gray-300 my-2">
                <!-- Col 1 -->
                <div class="justify-start ">
                  <div class="flex flex-row items-center">
                    {% if promoter.logo %}
                      <img class="org_logo_sm" src="{{ promoter.logo.url }}" alt="Your Image Description">
                    {% else %}
                      <img alt="ecommerce" class="org_logo_sm"
                           src="{% static 'images/clear_250x250.png' %}">
                    {% endif %}
                    <div class="flex flex-col ml-2">
                      <a class="org_name"
                         href="{% url 'membership:organization_detail' promoter.pk %}">{{ promoter.name }}</a>
                      <p class="text-base text-xs leading-none text-gray-400 dark:text-white mr-2 break-words">
                        {{ promoter.blurb|default:"" }} </p>
                    </div>
                  </div>
                </div>

                <!-- Col 2 -->
                <div class="flex flex-row justify-center items-center">
                  {% if promoter.is_usac %}
                    <img src="{% static "images/USACycling_Logo.svg" %}" style="max-width:17px" alt="usac">
                  {% else %}
                    <i class="fa-solid fa-person-biking fa-sm" style="color: #5ec5c5;"></i>
                  {% endif %}
                  <p class="ml-2">
                    Followers: {{ promoter.members.count|default:"0" }}
                  </p>
                </div>

                <!-- Col 3 -->
                <div class="flex flex-col justify-center items-end">
                  <p class="text-base text-sm leading-none text-gray-400 dark:text-white  mr-2 text-end">
                    {% if promoter.city %}
                      {{ promoter.city }}
                    {% endif %}
                    {% if promoter.state %}
                      , {{ promoter.state }}
                    {% endif %}
                  </p>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="bg-white">
        <nav class="flex justify-center">
          <ul class="inline-flex list-none mt-4 mb-4 bg-white">
            {% if page_obj.has_previous %}
              <li>
                <a href="?page=1" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l">
                  First
                </a>
              </li>
              <li>
                <a href="?page={{ page_obj.previous_page_number }}"
                   class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4">
                  Prev
                </a>
              </li>
            {% endif %}

            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <li>
                  <a href="?page={{ i }}" class="bg-cyan-600 text-white font-bold py-2 px-4">
                    {{ i }}
                  </a>
                </li>
              {% else %}
                <li>
                  <a href="?page={{ i }}" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4">
                    {{ i }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <li>
                <a href="?page={{ page_obj.next_page_number }}"
                   class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4">
                  Next
                </a>
              </li>
              <li>
                <a href="?page={{ paginator.num_pages }}"
                   class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r">
                  Last
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </section>
  <style>
    .checkbox:checked + .check-icon {
      display: flex;
    }
  </style>
  <script>
    function dropdownFunction(element) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      let list = element.parentElement.parentElement.getElementsByClassName("dropdown-content")[0];
      list.classList.add("target");
      for (i = 0; i < dropdowns.length; i++) {
        if (!dropdowns[i].classList.contains("target")) {
          dropdowns[i].classList.add("hidden");
        }
      }
      list.classList.toggle("hidden");
    }
  </script>
{% endblock %}
