{% load static i18n %}
<div class="splide" id="carousel">
  <div class="splide__track">
    <ul class="splide__list">
      {% for event in champions %}
        <li class="splide__slide">
          <div name="card" class="carrousel_card hover:border-cyan-600 visd"
               onclick="location.href='{% url 'event:event_detail' event.pk %}'">
            <div class="block relative h-100 rounded overflow-hidden">
              {% if event.logo and event.champion_event %}
                <img alt="logo" class="carrousel_image" src="{{ event.logo.url }}">
              {% else %}
                <img alt="Logo" class="carrousel_image" src="{% static 'images/clear_250x250.png' %}">
              {% endif %}
            </div>
            <h3 class="text-gray-500 text-sm tracking-widest title-font mb-1 text-center bg-[#e9f1c3]">
              {{ event.start_date }}
              {% if event.end_date %}
                -{{ event.end_date }}
              {% endif %}
            </h3>
            <h3 class="text-center">{{ event.name }}</h3>
            <h3 class="text-gray-500 text-sm tracking-widest title-font mb-1 text-center font-semibold">
              {% if event.city %}
                {{ event.city }}
              {% endif %}
              {% if event.state %}
                {{ event.state }}
              {% endif %}
            </h3>
            {% if event.blurb %}
              <p class="mt-1 text-justify">{{ event.blurb|truncatewords:50 }}</p>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        new Splide('#carousel', {
            type: 'loop',
            perPage: 1,
            autoplay: true,
            interval: 3000,
            breakpoints: {
                640: {
                    perPage: 1,
                },
                768: {
                    perPage: 2,
                },
                1024: {
                    perPage: 3,
                },
            },
        }).mount();
    });

</script>

<style>
    .splide {
        max-width: 60%; /* Adjust the width as needed */
        margin: 0 auto;
    }

    .splide__slide {
        width: 40%;
    }

    .splide__slide img {
        width: 100%;
        height: auto;
    }
</style>
