<table class="min-w-full text-left text-sm font-light">
  <thead class="border-b font-medium dark:border-neutral-500">
  <tr>
    <th scope="col" class="px-6 py-4">Name</th>
    <th scope="col" class="px-6 py-4">Points</th>
    <th scope="col" class="px-6 py-4">Place</th>
    <th scope="col" class="px-6 py-4">Category</th>
    <th scope="col" class="px-6 py-4">Club</th>
    <th scope="col" class="px-6 py-4">Event</th>
  </tr>
  </thead>
  <tbody>
  {% for result in raceseries.all_results %}
    <tr class="odd:bg-white even:bg-slate-50 border-b dark:border-neutral-500">
      <td class="whitespace-nowrap px-6 py-4">{{ result.name }}
        {% if result.rider %}
          <div class="rounded bg-green-500 text-white text-xs px-1 py-1 inline-block">Member</div>
        {% else %}
          <div class="rounded bg-orange-600 text-white text-xs px-1 py-1 inline-block">non-member</div>
        {% endif %}
      </td>
      <td class="whitespace-nowrap px-6 py-4 font-medium">{{ result.points }}</td>
      <td class="whitespace-nowrap px-6 py-4 font-medium">{{ result.place_disp }}</td>
      <td class="whitespace-nowrap px-6 py-4">{{ result.category }}</td>
      <td class="whitespace-nowrap px-6 py-4">{{ result.club|default:"" }}</td>
      <td class="whitespace-nowrap px-6 py-4">{{ result.race.event }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>