{% load static i18n %}
{% load extra_tags %}
<div class="bg-white dark:bg-gray-900  py-2 md:py-4 px-4 md:px-3 xl:px-5 flex justify-between">
  <form method="GET" class="flex justify-between w-full">
    <!--- Search -->
    <div class="flex items-center">
      <input type="search" name="search" placeholder="Search" value="{{ request.GET.search }}"
             class="border border-gray-300 py-2 px-4 rounded-l">
             <button type="submit" class="submit_search">
              Search
            </button>
    </div>

    <!-- filter form -->
    <div class="flex items-center justify-end">
      <input name="past_events" type="checkbox" value="true" id="past_event"
             {% if request.GET.past_events %}checked{% endif %}>
      <label class="flex px-2" for="past_events.">Past Events</label>

      <input class="ml-3" name="filter_usac" type="checkbox" value="is_usac_permitted" id="usac"
             {% if request.GET.filter_usac %}checked{% endif %}>
      <label class="flex px-2" for="choice_1">
        <img class="object-contain h-5 w-5" src="{% static 'images/USACycling_Logo.svg' %}" alt="USAC"/>USAC Events
      </label>

      <input class="ml-3" name="filter_featured" type="checkbox" value="featured" id="featured"
             {% if request.GET.filter_featured %}checked{% endif %}>
      <label class="flex px-2" for="choice_2">
        <img class="object-contain h-5 w-5" src="{% static 'images/bc-icon.png' %}" alt="My image"/>Featured
      </label>

      <!-- Submit button -->
      <button type="submit" class="submit_search rounded-r">
        Filter
      </button>
    </div>
  </form>
</div>
