{% load static i18n %}
<!-- Start Event list -->
<table class="w-full whitespace-wrap">
  <tbody>
  {% for event in events %}
    <tr tabindex="0" class="focus:outline-none h-16 border border-gray-100  rounded">
      <td>
        {% if event.logo %}
          <img alt="Event Logo" class="org_logo_sm"
               src="{{ event.logo.url }}">
        {% else %}
          <img alt="Event " class="org_logo_sm"
               src="{% static 'images/clear_250x250.png' %}">
        {% endif %}
      </td>
      <td class="pl-3">
        <div>
          <a class="text-base font-medium leading-none text-orange-600 hover:text-orange-800  mr-2"
             href="{% url 'event:event_detail' event.pk %}">{{ event.name }}</a>
        </div>
        <div class="flex items-center pl-5 w-96">
          {% if event.blurb %}
            <p class="font-medium text-xs text-gray-400 mr-2">
              {{ event.blurb|truncatewords:50 }} </p>
          {% endif %}
        </div>
      </td>
      <td class="pl-1">
        <div class="flex justify-end items-center">
          {% if event.is_usac_permitted %}
            <img class="w-[17px] h-[17px] object-fit object-center" src="{% static "images/USACycling_Logo.svg" %}"
                 alt="usac">
          {% endif %}
          {% if event.featured_event %}
            <img class="w-[17px] h-[17px] object-fit object-center" title="Featured Event"
                 src="{% static 'images/bc-icon.png' %}" alt="Featured Event"/>
          {% endif %}
        </div>
      </td>
      <td>
        <div>
          {% if event.city %}
            {{ event.city }}
          {% endif %}
          {% if event.state %}
            , {{ event.state }}
          {% endif %}
        </div>
      </td>
      <td>
        <div class="flex justify-end">
          {{ event.start_date }} - {{ event.end_date|default:"" }}
        </div>
      </td>
    </tr>
    <tr class="h-3"></tr>
  {% endfor %}
  </tbody>
</table>
<div class="mt-8">
  <nav class="flex justify-center">
    <ul class="inline-flex list-none">
      {% if page_obj.has_previous %}
        <li>
          <a href="?page=1" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l">
            First
          </a>
        </li>
        <li>
          <a href="?page={{ page_obj.previous_page_number }}{{ withpage }}"
             class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4">
            Prev
          </a>
        </li>
      {% endif %}
      {% for i in custom_page_range %}
        {% if page_obj.number == i %}
          <li>
            <a href="?page={{ i }}{{ withpage }}" class="bg-blue-500 text-white font-bold py-2 px-4">
              {{ i }}
            </a>
          </li>
        {% else %}
          <li>
            <a href="?page={{ i }}{{ withpage }}"
               class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4">
              {{ i }}
            </a>
          </li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}{{ withpage }}"
             class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4">
            Next
          </a>
        </li>
        <li>
          <a href="?page={{ paginator.num_pages }}{{ withpage }}"
             class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r">
            Last
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>
