{% load static i18n %}
{% load extra_tags %}

<!-- Features events next 8 -->
{% if featured.exists %}
  <section id="featured_list" class="bg-white">
    <div class="py-2 px-2 mx-auto max-w-screen-xl sm:py-4 lg:px-6">
      <div class="mx-auto max-w-screen-md text-center mb-2 lg:mb-4">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">Colorado Featured
          Events</h2>
        <p class="font-light text-gray-500 sm:text-xl">Discover Colorado's cycling events, and
          experience incredible courses, breathtaking landscapes, and challenging competition.</p>
      </div>
      <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        {% for event in featured %}
          <div class="flex flex-col justify-between p-6 bg-white rounded shadow">
            <a href="{% url 'event:event_detail' event.pk %}">
              {% if event.logo %}
                <img class="fb_featured_card_image"
                     src="{{ event.logo.url }}"
                     alt="">
              {% else %}
                <img alt="Logo"
                     class="fb_featured_card_image"
                     src="{% static "images/clear_250x250.png" %}">
              {% endif %}
            </a>
            <div class=" pb-5">
              <h3
                class="text-gray-500 text-sm tracking-widest title-font py-1 px-2 m-0 my-2 text-center rounded-md bg-lime-100">
                {{ event.start_date }}
                {% if event.end_date %}
                  -{{ event.end_date }}
                {% endif %}
              </h3>
              <div class="rounded-md shadow shadow-gray-100">
                <h2 class="text-orange-600 hover:text-orange-800 title-font text-lg font-medium text-center">
                  <a href="{% url 'event:event_detail' event.pk %}">{{ event.name }}</a>
                </h2>
                <h3 class="text-gray-500 text-sm tracking-widest title-font mb-1 text-center font-semibold">
                  {% if event.city %}
                    {{ event.city }}
                  {% endif %}
                  {% if event.state %}
                    {{ event.state }}
                  {% endif %}
                </h3>
                {% if event.blurb %}
                  <p class="mt-1 text-justify">
                    {{ event.blurb|truncatewords:20 }}
                  </p>
                {% endif %}
              </div>
            </div>
            <div class="text-left">
              {% if event.is_usac_permitted %}
                <img class="object-scale-down max-h-[25px] min-h-[25px]"
                     alt="USAC Event"
                     src="{% static 'images/USACycling_Logo.svg' %}">
              {% endif %}
              {#              {% if event.featured_event %}#}
              {#                <img class="object-scale-down max-h-[25px] min-h-[25px]" alt="Featured"#}
              {#                     src="{% static 'images/bc-icon.png' %}">#}
              {#              {% endif %}#}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    {% else %}
    <h3 class="text-center">No Featured Events at this time</h3>
    </div>
  </section>
{% endif %}


