{% load util_tags %}
{#This email is sent to the user and og admin of a club when a new member joins the club (organization).#}

<b>A new club has been created</b>
<p> {{ name }} by {{ user.member.first_name }}, {{ user.member.last_name }},</p>


<p>Event Support Program
    <br>-----------------------------
    <br>Bicycle Colorado
    <br> <a href="https://bicyclecolorado.org">https://bicyclecolorado.org</a>
    <br>1525 Market Street, Suite 100
    <br>Denver, CO 80202
    <br>United States</p>


