{% extends "account/base.html" %}
{% load static i18n %}

{% block inner %}
  <!--- into section -->
  <section id='event_list' class="section_intro_content">
    {#    <div class="container mx-auto flex px-5 py-10 md:flex-row flex-col items-center">#}
    <div class="hero_intro_image">
      <img class="object-cover object-center rounded" alt="hero" src="{% static 'images/events_hero.jpg' %}">
    </div>
    <div
        class="body_intro">
      <h1>Event Calendar</h1>
      <p class="mb-4 leading-relaxed">
        BC is proud to host a comprehensive bicycle event calendar that is full of road, mountain, gravel, cross and
        non-competitive events across the state, including fundraisers, clinics and scenic non-sanctioned rides. There
        are so many ways to have fun on your bike(s)—this is the time to try something new! </p>
      <div class="flex justify-end">
        <a href="{% url 'event:event_create' %}"
           class="button_body_orange">SUBMIT AN EVENT</a>
      </div>
    </div>
    {#    </div>#}
  </section>
  <!--- Search -->
  <div class="bg-white dark:bg-gray-900  py-4 md:py-7 px-4 md:px-3 xl:px-5">
    <div class="flex justify-between">
      <div class="flex items-center">
        <form method="GET" class="flex">
          <input type="search" name="search" placeholder="Search" value="{{ request.GET.search }}"
                 class="border border-gray-300 py-2 px-4 rounded-l">
          <button type="submit" class="submit_search">
            Search
          </button>
        </form>
      </div>
      <!-- filter form -->
      <div
          class="py-3 px-4 text-sm font-medium text-gray-600 dark:text-gray-200 rounded">
        <form method="GET" class="flex">
          {#          <p>Filter by type:</p>#}
          {#          <select name="type" id="type" class="focus:text-indigo-600 focus:outline-none bg-transparent ml-1"#}
          {#                  onchange="this.form.submit()">#}
          {#            <option value="">All</option>#}
          {#            {% for type_choice in type_choices %}#}
          {#              <option value="{{ type_choice.0 }}"#}
          {#                      {% if request.GET.type == type_choice.0 %}selected{% endif %}>{{ type_choice.1 }}</option>#}
          {#            {% endfor %}#}
          {#          </select>#}
          <input name="filter_usac" type="radio" value="usac_event" id="choice_1">
          <label for="choice_1">
            <img class="object-contain h-5 w-5" src="{% static 'images/USACycling_Logo.svg' %}" alt="USAC"/>
            USAC Events
          </label>

          <input name="filter_featured" type="radio" value="featured" id="choice_2">
          <label for="choice_2">
            <img class="object-contain h-5 w-5" src="{% static 'images/bc-icon.png' %}" alt="My image"/>
            Featured
          </label>

          {#          <select name="event-type" id="filter-events-full-cal">#}
          {#            <option value="all">All Events</option>#}
          {#            {% for i in EventTypes %}#}
          {#              <option value="{{ i }}">{{ i }}</option>#}
          {#            {% endfor %}#}
          {#          </select>#}
          <input type="filter" name="filter" placeholder="Filter" hidden="">
          <button type="submit" class="bg-cyan-600 hover:bg-cyan-800 text-white font-bold py-2 px-5 rounded-r">
            Filter
          </button>
        </form>
      </div>
      <!-- end filter form -->
    </div>
  </div>
  <section class="text-gray-600 body-font">
    <div class="container px-2 12 mx-auto"></div>

    <!-- Features events next 4 -->
    {% if featured.exists %}
      <div class="w-full org_name mt-3 py-3 bg-white text-center"> Upcoming Featured Events</div>
      <div
          class="flex flex-wrap border-2 border-gray-400 bg-white dark:bg-gray-900  py-4 md:py-7 px-4 md:px-3 xl:px-5">
        {% for event in featured %}
          <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden" href="{% url 'event:event_detail' event.pk %}">
              {% if event.logo %}
                <img class="object-scale-down max-h-[250px] mx-auto" src="{{ event.logo.url }}" alt="">
              {% else %}
                <img alt="Logo" class="object-contain object-center w-full h-full block"
                     src="{% static "images/clear_250x250.png" %}">
              {% endif %}
            </a>
            <div class="mt-4">
              <h3 class="text-gray-500 text-sm tracking-widest title-font mb-1 text-center bg-[#e9f1c3]">
                {{ event.start_date }}
                {% if event.end_date %}
                  -{{ event.end_date }}
                {% endif %}
              </h3>
              <h2 class="text-orange-600 hover:text-orange-800 title-font text-lg font-medium text-center">
                <a href="{% url 'event:event_detail' event.pk %}">{{ event.name }}</a>
              </h2>
              <div class="text-center" style="display: flex;justify-content: space-evenly;">
                {% if event.is_usac_permitted %}
                  <img alt="USAC Event" style="max-width:17px" width="25" height="25"
                       src="{% static 'images/USACycling_Logo.svg' %}">
                {% endif %}
                {% if event.featured_event %}
                  <img alt="Featured" style="max-width:17px" width="17" height="25"
                       src="{% static 'images/bc-icon.png' %}">
                {% endif %}
              </div>
              <h3 class="text-gray-500 text-sm tracking-widest title-font mb-1 text-center font-semibold">
                {% if event.city %}
                  {{ event.city }}
                {% endif %}
                {% if event.state %}
                  {{ event.state }}
                {% endif %}
              </h3>
              {% if event.blurb %}
                <p class="mt-1 text-justify">
                  {{ event.blurb|truncatewords:20 }}
                </p>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <!-- All events -->
    <div class="w-full org_name mt-3 py-3 bg-white text-center"> Full Event Calendar</div>
    <div class="flex flex-wrap bg-white  py-4 md:py-7 px-4 md:px-3 xl:px-5">
      {% for event in events %}
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-50 rounded overflow-hidden" href="{% url 'event:event_detail' event.pk %}">
            {% if event.logo and event.featured_event %}
              <img class="object-scale-down max-h-[50px] mx-auto" src="{{ event.logo.url }}" alt="">
            {% else %}
              {#              class="object-contain object-center w-full h-full block"#}
              <img alt="Logo" class="object-scale-down max-h-[50px] mx-auto"
                   src="{% static 'images/clear_250X250.png' %}">
            {% endif %}
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-sm tracking-widest title-font mb-1 text-center bg-[#e9f1c3]">
              {{ event.start_date }}
              {% if event.end_date %}
                -{{ event.end_date }}
              {% endif %}
            </h3>
            <h2 class="text-orange-600 hover:text-orange-800 title-font text-lg font-medium text-center">
              <a href="{% url 'event:event_detail' event.pk %}">{{ event.name }}</a>
            </h2>
            <div class="text-center" style="display: flex;justify-content: space-evenly;">
              {% if event.is_usac_permitted %}
                <img alt="USAC Event" style="max-width:17px" width="25" height="25"
                     src="{% static 'images/USACycling_Logo.svg' %}">
              {% endif %}
              {% if event.featured_event %}
                <img alt="Featured" style="max-width:17px" width="17" height="25"
                     src="{% static 'images/bc-icon.png' %}">
              {% endif %}
            </div>
            <h3 class="text-gray-500 text-sm tracking-widest title-font mb-1 text-center font-semibold">
              {% if event.city %}
                {{ event.city }}
              {% endif %}
              {% if event.state %}
                {{ event.state }}
              {% endif %}
            </h3>
            {% if event.blurb %}
              <p class="mt-1 text-justify">
                {{ event.blurb|truncatewords:20 }}
              </p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    </div>
    </div>
  </section>
{% endblock %}
