{% extends "base.html" %}
{% load static i18n %}
{% block content %}

<div id="notificationDiv" class="hidden fixed top-4 right-4 bg-green-500 text-white p-3 rounded-md shadow-md">
    Events approved successfully!
</div>

<div class="container mx-auto px-4">

    <!-- Search Form -->
    <div class="mb-4 flex flex-col md:flex-row items-center">
        <form method="get" class="md:flex-grow md:flex items-center mb-4 md:mb-0">
            <input type="text" name="search_term" class="border p-2 rounded-md flex-grow mr-2" placeholder="Search for events..." value="{{ request.GET.search_term|default:'' }}">
            <button type="submit" class="btn bg-blue-500 hover:bg-blue-600 text-white p-2 rounded-md">Search</button>
        </form>
    </div>

<form method="post">
    {% csrf_token %}

    <button type="submit" class="btn bg-green-500 hover:bg-green-600 text-white p-2 rounded-md">
        <span id="selectedCount">0</span> Approve Selected
    </button>

    <!-- Table Section -->
    <section class="bg-gray-50 p-3 sm:p-5 rounded-lg shadow-md">
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border">
                <thead class="border-b">
                <tr>
                    <th scope="col" class="px-4 py-3">
                        <input type="checkbox" id="selectAllCheckbox">
                    </th>
                    <th scope="col" class="px-4 py-3">Event Name</th>
                    <th scope="col" class="px-4 py-3">Start Date</th>
                    <th scope="col" class="px-4 py-3">Promoter or Club</th>
                    <th scope="col" class="px-4 py-3">User</th>
                    <th scope="col" class="px-4 py-3">Submitted Date</th>
                    <th scope="col" class="px-4 py-3">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr class="border-b">
                        <td class="px-4 py-3">
                            <input type="checkbox" name="event_ids" value="{{ event.id }}">
                        </td>
                        <td class="px-4 py-3">{{ event.name }}</td>
                        <td class="px-4 py-3">{{ event.start_date }}</td>
                        <td class="px-4 py-3">{{ event.organization.name }}</td>
                        <td class="px-4 py-3">
                            {% if event.create_by %}
                                <a href="{% url 'users:detail' event.create_by.pk %}" class="text-blue-500 hover:text-blue-600">
                                    {{ event.create_by }}
                                </a>
                            {% else %}
                                Community user
                            {% endif %}
                        </td>
                        <td class="px-4 py-3">{{ event.create_datetime }}</td>
                        <td class="px-4 py-3">
                            <a href="{% url 'event:event_detail' event.pk %}" class="text-blue-500 hover:text-blue-600">View Event</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

</form>



</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const checkboxes = document.querySelectorAll("input[name='event_ids']");
    const selectAllCheckbox = document.getElementById("selectAllCheckbox");
    const selectedCountEl = document.getElementById("selectedCount");
    const notificationDiv = document.getElementById("notificationDiv");

    selectAllCheckbox.addEventListener("change", function() {
        checkboxes.forEach(cb => cb.checked = selectAllCheckbox.checked);
        updateSelectedCount();
    });

    checkboxes.forEach(cb => {
        cb.addEventListener("change", updateSelectedCount);
    });

    function updateSelectedCount() {
        const selectedCount = [...checkboxes].filter(cb => cb.checked).length;
        selectedCountEl.textContent = selectedCount;
    }


});
</script>
{% endblock %}


