{% extends "account/base.html" %}
{% load static %}
{% block inner %}
  <!-- content -->
  <section class="content">
    <!-- event detail -->
    <div class="bg-gray-100 py-10">
      <div class="container mx-auto px-4">
        <div class="grid grid-cols-12 gap-8">
          <!-- Left Side Content -->
          <div class="col-span-8">
            <a href="{% url 'event:event_list' %}" class="text-orange-600 hover:underline">Back To Events</a>
            {% if object.hero %}
              <img
                  src="{{ object.hero }}"
                  alt="Event Banner" title="" class="object-contain h-500 w-500 justify-center">
            {% endif %}
            {% if object.logo %}
              <img
                  src="{{ object.logo.url }}"
                  alt="Event Logo" title="" class="object-contain h-250 w-250 justify-start">
            {% endif %}
            <div class="bg-white shadow-lg rounded p-4 mt-4">
              <h2 class="text-2xl font-bold">{{ object.name }}</h2>
              {% if object.blurb %}
                <p>
                  {{ object.blurb }}
                </p>
              {% endif %}


              {% if object.description %}
                <div>
                  {{ object.description |safe }}
                </div>
              {% endif %}

              {% if object.more_data and object.more_data.panels %}
                {% for panel in  object.more_data.panels %}
                  {% if "iframe" in panel.url %}
                    {{ panel.url |safe }}
                  {% else %}
                    <iframe src="{{ panel.url }}" height="350" width="100%"></iframe>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
            <a href="{% url 'event:event_list' %}" class="text-orange-600 mt-4">Back To Events</a>
          <div class="bg-white shadow-lg rounded p-4 mt-4">
            {% if Races %}
              {% include 'results/race_result.html' %}
            {% else %}
              <h3> No race results for this event </h3>
            {% endif %}
          </div>
          </div>

          <!-- Right Side Content -->
          <div class="col-span-4">
            <h3 class="text-xl font-bold text-orange-600 mb-2">Event Details</h3>
            <div class="bg-white shadow-lg rounded p-4">
              <div class="mb-4">
                {% if event.is_usac_permitted %}
                  <img style="max-width:30px" title="USAC Event"
                       src="{% static 'images/USACycling_Logo.svg' %}" alt="usac/>
                {% endif %}
                {% if event.featured_event %}
                  <img width="30" height="30" title="Featured Event"
                       src="{% static 'images/bc-icon.png' %}" alt="My image"/>
                {% endif %}
              </div>
              <h5 class="py-1">{{ object.start_date }} - {{ object.end_date }}</h5>
              <h5 class="py-1"><span>
                            {% if object.city %} {{ object.city }}, {% endif %}
                {% if object.state %} {{ object.state }}{% endif %}
                        </span></h5>
              <h5 class="py-1 text-cyan-600"><span>{% for t in object.tags %}{{ t }}{% endfor %}</span></h5>
            </div>
            <div class="bg-white shadow-lg rounded p-4 mt-4">
              {% if object.website %}
                <a href="{{ object.website }}" class="mx-8 bg-cyan-600 hover:bg-cyan-800 text-white py-2 px-4 rounded block mt-4 text-center"
                   target="_blank"
                >Event Website</a>
              {% endif %}
              {% if object.registration_website %}
                <a href="{{ object.registration_website }}"
                   class="mx-8 bg-orange-600 hover:bg-orange-800 text-white py-2 px-4 rounded block mt-4 text-center"
                   target="_blank"
                >Registration</a>
              {% endif %}
              {% if object.location_lat and object.location_lon %}
                </div>
                <div class="event-map mt-4">
                  <iframe frameborder="0" style="border:0;width:100%;height:300px;"
                          src="https://www.google.com/maps/embed/v1/place?key={{ GOOGLE_MAP_API_TOKEN }}&q=
                        {{ object.location_lat }} , {{ object.location_lon }} &zoom=16"
                          allowfullscreen></iframe>
                </div>
              {% endif %}
            <div class="bg-white shadow-lg rounded p-4 mt-4">
              <h4>Event Files</h4>
              {% if object.attachments.count >= 1 %}
                {% for attachment in object.attachments.all %}
                  <a target="_blank" href="{{ attachment.file.url }}">{{ attachment.file_name }}</a>
                {% endfor %}
              {% else %}
                <p>No Files</p>
              {% endif %}
            </div>
            <!-- Only Event admin and is_staff sees this -->
            {% if EventAdmin or user.is_staff %}
              <div class="bg-white shadow-lg rounded p-4 mt-4">
                <h4>Event Admin</h4>
                <a
                    href="{% url 'event:event_update' object.pk %}"
                    class="mx-8 bg-orange-600 hover:bg-orange-800 text-white py-2 px-4 rounded block mt-4 text-center"
                    target="_blank"
                >Edit Event</a>
                <a
                    href="{% url 'event:import_race_results' object.pk %}"
                    class="mx-8 bg-cyan-600 hover:bg-cyan-800 text-white py-2 px-4 rounded block mt-4 text-center"
                    target="_blank"
                >Upload Results</a>
              </div>
            {% endif %}
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
