{% extends "account/base.html" %} {% block inner %}
<div class="container mx-auto px-4">
  <h1 class="text-2xl font-bold mb-4">Delete Event</h1>
  <div class="bg-white shadow-lg rounded p-4">
    <p>Are you sure you want to delete "{{ object.name }}"?</p>
  </div>
  <div class="mt-4">
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="bg-red-500 text-white py-2 px-4 rounded">
        Confirm Delete
      </button>
    </form>
    <a
      href="{% url 'event:event_list' %}"
      class="bg-gray-500 text-white py-2 px-4 rounded"
      >Cancel</a
    >
  </div>
</div>
{% endblock %}
