{% load static %} {% load widget_tweaks %}
<!-- Head static resources, javascript, ... -->
{% include 'head_base.html' %} {% load grid %}

{% if request.GET.success %}
<div class="alert alert-success">Form submitted successfully!</div>
{% endif %}



<form
  class="flex flex-wrap"
  method="post"
  hx-post="/form/?type=event.EventCommunityForm"
  hx-trigger="submit"
>
<!-- Overlay -->
<div id="formOverlay" class="absolute inset-0 bg-black opacity-50 hidden"></div>

  {% csrf_token %} 
  {% for field in form %}
  <div class="{{ field|grid_size }} mb-6">
    <label
      for="{{ field.id_for_label }}"
      class="block mb-2 text-sm font-medium {% if field.errors %}text-red-700 dark:text-red-500 {% endif %}"
      >{{ field.label }}</label
    >

    {% if field.errors %} 
    {{ field|add_class:"bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-100 dark:border-red-400"}}
    <p class="mt-2 text-sm text-red-600 dark:text-red-500">
      <span class="font-medium">Oops!</span> {{ field.errors.0 }}
    </p>
    {% else %} {{ field }}
    <!-- Optional success message goes here -->
    {% endif %}
  </div>
  {% endfor %}

  <button 
  id="submitButton"
  type="submit" 
  onclick="toggleButtons();"  
  class="w-full justify-center sm:w-auto text-white button_body_cyan">
  <i class="fa-solid fa-square-check mr-1"></i>Submit
</button>

<button 
  id="loadingButton" 
  type="button"
  class="w-full justify-center sm:w-auto text-white button_body_cyan hide">
  <svg aria-hidden="true" role="status" class="inline w-4 h-4 mr-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
    </svg>
  Loading...
</button>

</form>


<script>
    function isFormValid(formElement) {
        return formElement.checkValidity();
    }

    function toggleButtons() {
        var formElement = document.querySelector('form');  // Assuming you only have one form on the page
        
        if (!isFormValid(formElement)) {
            // If the form is not valid, just return and do not show the loader and overlay
            return;
        }
        else{
            document.getElementById('submitButton').classList.remove('hide');  // Show the submit button
            document.getElementById('loadingButton').classList.add('hide');  // Hide the loading button
        }

        document.getElementById('submitButton').classList.add('hide');  // Hide the submit button
        document.getElementById('loadingButton').classList.remove('hide');  // Show the loading button
        document.getElementById('formOverlay').classList.remove('hide');  // Show the overlay
    }
    
    document.body.addEventListener('htmx:afterOnLoad', function() {
        // After the htmx request is done, revert the buttons to their original state
        document.getElementById('submitButton').classList.remove('hide');  // Show the submit button
        document.getElementById('loadingButton').classList.add('hide');  // Hide the loading button
        document.getElementById('formOverlay').classList.add('hide');  // Hide the overlay
    });
</script>

<style>
    .hide {
        display: none !important;
    }    
</style>