{% load static %}
{% load widget_tweaks %}
<div class="flex justify-center m-5">
  <button id="createEventButton" data-modal-toggle="submitEventModal"
          class="button_body_orange"
          type="button">
    Create and submit an event
  </button>
</div>
<!-- Main modal -->
<div id="submitEventModal" tabindex="-1" aria-hidden="true"
     class="hidden overflow-y-auto fixed inset-0 z-50 flex items-center justify-center w-full h-full">
  <div class="relative p-4 w-full max-w-3xl">
    <!-- Modal content -->
    <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5 overflow-y-auto h-modal">
      <!-- Modal header -->
      <div class="flex justify-between items-center pb-4 mb-4 border-b sm:mb-5 dark:border-gray-600">
        <div>
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Submit an event to the Bicycle Colorado Calendar
          </h3>
          <p>{{ request.user.full_name }} as a Staff member of BC</p>
        </div>
        <button type="button"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5
                ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                data-modal-toggle="submitEventModal">
          <i aria-hidden="true" class="fa-solid fa-xmark"></i>
          <span class="sr-only">Close modal</span>
        </button>
      </div>

      <!-- Modal body -->
      <form method="post" id="authenticated_user_form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="grid gap-4 mb-4 sm:grid-cols-2">

          <!-- Event Name -->
          <div>
            <label for="{{ form.name.auto_id }}" class="fb_text_label">{{ form.name.label }}</label>
            {{ form.name }}
            {% if form.name.errors %}
              <div class="text-red-500 text-xs mt-1">{{ form.name.errors }}</div>
            {% endif %}
          </div>

          <!-- Event Website -->
          <div>
            <label for="{{ form.website.auto_id }}" class="fb_text_label">{{ form.website.label }}</label>
            {{ form.website }}
            {% if form.website.errors %}
              <div class="text-red-500 text-xs mt-1">{{ form.website.errors }}</div>
            {% endif %}
          </div>

          <!-- Registration Website -->
          <div>
            <label for="{{ form.registration_website.auto_id }}"
                   class="fb_text_label">{{ form.registration_website.label }}</label>
            {{ form.registration_website }}
            {% if form.registration_website.errors %}
              <div class="text-red-500 text-xs mt-1">{{ form.registration_website.errors }}</div>
            {% endif %}
          </div>

          <!-- Event Email -->
          <div>
            <label for="{{ form.email.auto_id }}" class="fb_text_label">{{ form.email.label }}</label>
            {{ form.email }}
            {% if form.email.errors %}
              <div class="text-red-500 text-xs mt-1">{{ form.email.errors }}</div>
            {% endif %}
          </div>

          <!-- Event Featured -->
          <div class="flex items-center">
            {{ form.featured_event }}
            <label for="{{ form.featured_event.auto_id }}"
                   class="fb_text_label ml-2">{{ form.featured_event.label }}</label>
            {% if form.featured_event.errors %}
              <div class="text-red-500 text-xs mt-1">{{ form.featured_event.errors }}</div>
            {% endif %}
          </div>

          <!-- Event USAC permitted -->
          <div class="flex items-center">
            {{ form.is_permitted }}
            <label for="{{ form.is_permitted.auto_id }}"
                   class="fb_text_label ml-2">{{ form.is_permitted.label }}</label>
            {% if form.is_permitted.errors %}
              <div class="text-red-500 text-xs mt-1">{{ form.is_permitted.errors }}</div>
            {% endif %}
          </div>

          <!-- Event USAC permitted number-->
          <div>
            <label for="{{ form.permit_no.auto_id }}" class="fb_text_label">{{ form.permit_no.label }}</label>
            {{ form.permit_no }}
            {% if form.permit_no.errors %}
              <div class="text-red-500 text-xs mt-1">{{ form.permit_no.errors }}</div>
            {% endif %}
          </div>

          <!-- Event Type/tags -->
          <div>
            <label for="{{ form.tags.auto_id }}"
                   class="fb_text_label">{{ form.tags.label }}</label>
            {{ form.tags }}
            {% if form.tags.errors %}
              <div class="text-red-500 text-xs mt-1">{{ form.name.errors }}</div>
            {% endif %}
          </div>

          <!-- Event Logo -->
          <div class="sm:col-span-2">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                   for="{{ form.logo.id_for_label }}">
              {{ form.logo.label }}
            </label>
            <div class="sm:col-span-2">
              <div class="items-center w-full sm:flex">
                <div class="w-full">
                  {{ form.logo }}
                  <p class="mt-1 text-xs font-normal text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG,
                    Suggested size (250x250px)</p>
                </div>
              </div>
            </div>
            {% if form.logo.errors %}
              <div class="text-red-500 text-xs mt-1">{{ form.logo.errors }}</div>
            {% endif %}
          </div>

          <!-- Event Hero -->
          <div class="sm:col-span-2">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                   for="{{ form.logo.id_for_label }}">
              {{ form.hero.label }}
            </label>
            <div class="sm:col-span-2">
              <div class="items-center w-full sm:flex">
                <div class="w-full">
                  {{ form.logo }}
                  <p class="mt-1 text-xs font-normal text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG,
                    Suggested size (1920X1080)</p>
                </div>
              </div>
            </div>
            {% if form.logo.errors %}
              <div class="text-red-500 text-xs mt-1">{{ form.logo.errors }}</div>
            {% endif %}
          </div>

          <!-- Blurb -->
          <div class="sm:col-span-2">
            <label for="{{ form.blurb.auto_id }}" class="fb_text_label">{{ form.blurb.label }}</label>
            {{ form.blurb }}
            {% if form.blurb.errors %}
              <div class="text-red-500 text-xs mt-1">{{ form.blurb.errors }}</div>
            {% endif %}
          </div>

          <!-- Description -->
          <div class="sm:col-span-2">
            <label for="{{ form.description.auto_id }}"
                   class="fb_text_label">{{ form.description.label }}</label>
            {{ form.description }}
            <div>
              {% if form.description.errors %}
                <div class="text-red-500 text-xs mt-1">{{ form.description.errors }}</div>
              {% endif %}
            </div>
          </div>

          <!-- Start Date -->
          <div>
            <label for="{{ form.start_date.auto_id }}" class="fb_text_label">{{ form.start_date.label }}</label>
            <div>
              <i class="fa-solid fa-calendar"></i>{{ form.start_date }}
              {% if form.start_date.errors %}
                <div class="text-red-500 text-xs mt-1">{{ form.start_date.errors }}</div>
              {% endif %}
            </div>
          </div>

          <!-- End Date -->
          <div>
            <label for="{{ form.end_date.auto_id }}" class="fb_text_label">{{ form.end_date.label }}</label>
            <div>
              <i class="fa-solid fa-calendar"></i>{{ form.end_date }}
              {% if form.end_date.errors %}
                <div class="text-red-500 text-xs mt-1">{{ form.end_date.errors }}</div>
              {% endif %}
            </div>
          </div>

          <!-- Event City -->
          <div>
            <label class="fb_text_label" for="{{ form.city.auto_id }}">{{ form.city.label }}</label>
            {{ form.city }}
            {% if form.city.errors %}
              <div class="text-red-500 text-xs mt-1">{{ form.city.errors }}</div>
            {% endif %}
          </div>

          <!-- Event State -->
          <div>
            <label for="{{ form.state.auto_id }}" class="fb_text_label">{{ form.state.label }}</label>
            {{ form.state }}
            {% if form.state.errors %}
              <div class="text-red-500 text-xs mt-1">{{ form.state.errors }}</div>
            {% endif %}
          </div>

          <!-- Organization -->
          <div>
            <label for="{{ form.organization.auto_id }}" class="fb_text_label">{{ form.organization.label }}</label>
            {{ form.organization }}
            {% if form.organization.errors %}
              <div class="text-red-500 text-xs mt-1">{{ form.organization.errors }}</div>
            {% endif %}
          </div>

          <!-- Publish type -->
          <div>
            <label for="{{ form.publish_type.auto_id }}" class="fb_text_label">{{ form.publish_type.label }}</label>
            {{ form.publish_type }}
            {% if form.publish_type.errors %}
              <div class="text-red-500 text-xs mt-1">{{ form.publish_type.errors }}</div>
            {% endif %}
          </div>

          <!-- Approved -->
          <div class="flex items-center">
            {{ form.approved }}
            <label for="{{ form.approved.auto_id }}"
                   class="fb_text_label ml-2">{{ form.approved.label }}</label>
            {% if form.approved.errors %}
              <div class="text-red-500 text-xs mt-1">{{ form.approved.errors }}</div>
            {% endif %}
          </div>
        </div>

        <!-- Event location Google maps-->
        <div>
          <label for="{{ form.location.auto_id }}" class="fb_text_label">{{ form.location.label }}</label>
          {{ form.location }}
          {% if form.location.errors %}
            <div class="text-red-500 text-xs mt-1">{{ form.location.errors }}</div>
          {% endif %}
        </div>

        <!-- End of fields, start of buttons -->
        <div class="items-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
          <button type="submit"
                  class="w-full justify-center sm:w-auto text-white  button_body_cyan">
            <i class="fa-solid fa-square-check mr-1"></i>Submit event for review
          </button>
          <button data-modal-toggle="submitEventModal" type="button"
                  class="w-full justify-center sm:w-auto text-white inline-flex items-center button_body_orange">
            <i class="fa-solid fa-xmark mr-1"></i>
            Cancel
          </button>
        </div>
        <div>{{ form.errors }}</div>
      </form>
    </div>
  </div>
</div>

<style>
  .h-modal {
    max-height: calc(100vh - 2rem);
  }
</style>
