{% load static %}
{% load widget_tweaks %}
<div class="flex justify-center m-5">
  <button id="createEventButton" data-modal-toggle="submitEventModal"
          class="button_body_orange"
          type="button">
    Create and submit an event
  </button>
</div>
<!-- Main modal -->
<div id="submitEventModal" tabindex="-1" aria-hidden="true" 
     class="hidden overflow-y-auto fixed inset-0 z-50 flex items-center justify-center w-full h-full">
  <div class="relative p-4 w-full max-w-3xl">
    <!-- Modal content -->
    <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5 overflow-y-auto h-modal">
      <!-- Modal header -->
      <div class="flex justify-between items-center pb-4 mb-4 border-b sm:mb-5 dark:border-gray-600">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Submit an event to the Bicycle Colorado Calendar

        </h3>
        <button type="button"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                data-modal-toggle="submitEventModal">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>

      <!-- Modal body -->
      <form method="post" id="authenticated_user_form" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="grid gap-4 mb-4 sm:grid-cols-2">
          <div>
            <label for="{{ form.name.auto_id }}" class="fb_text_label">{{ form.name.label }}</label>
            {{ form.name }}
            {% if form.name.errors %}
              <div class="text-red-500 text-xs mt-1">{{ form.name.errors }}</div>
            {% endif %}
          </div>
          <div>
            <label for="{{ form.tags.auto_id }}"
                   class="fb_text_label">{{ form.tags.label }}</label>
            {{ form.tags }}
            {% if form.tags.errors %}
              <div class="text-red-500 text-xs mt-1">{{ form.name.errors }}</div>
            {% endif %}
          </div>
          <div class="sm:col-span-2">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                   for="{{ form.logo.id_for_label }}">
              Event Logo
            </label>
            <div class="sm:col-span-2">
              <div class="items-center w-full sm:flex">
                  <div class="w-full">
                    {{ form.logo }}
                      <p class="mt-1 text-xs font-normal text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF (MAX. 800x400px).</p>                  
                </div>
            </div>
          </div>
            {% if form.logo.errors %}
              <div class="text-red-500 text-xs mt-1">{{ form.logo.errors }}</div>
            {% endif %}
          </div>
          <div class="sm:col-span-2">
            <label for="{{ form.blurb.auto_id }}" class="fb_text_label">{{ form.blurb.label }}</label>
            {{ form.blurb }}
            {% if form.blurb.errors %}
              <div class="text-red-500 text-xs mt-1">{{ form.blurb.errors }}</div>
            {% endif %}
          </div>
          <div class="sm:col-span-2">
            <label for="{{ form.description.auto_id }}"
                   class="fb_text_label">{{ form.description.label }}</label>
            {{ form.description }}
            <div>
              {% if form.description.errors %}
                <div class="text-red-500 text-xs mt-1">{{ form.description.errors }}</div>
              {% endif %}
            </div>
          </div>
          <div>
            <label for="{{ form.start_date.auto_id }}" class="fb_text_label">{{ form.start_date.label }}</label>
            <div>
              <i class="fa-solid fa-calendar"></i>{{ form.start_date }}
              {% if form.start_date.errors %}
                <div class="text-red-500 text-xs mt-1">{{ form.start_date.errors }}</div>
              {% endif %}
            </div>
          </div>
          <div>
            <label for="{{ form.end_date.auto_id }}" class="fb_text_label">{{ form.end_date.label }}</label>
            <div>
              <i class="fa-solid fa-calendar"></i>{{ form.end_date }}
              {% if form.end_date.errors %}
                <div class="text-red-500 text-xs mt-1">{{ form.end_date.errors }}</div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="items-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
          <button type="submit"
                  class="w-full justify-center sm:w-auto text-white  button_body_cyan">
            <i class="fa-solid fa-square-check mr-1"></i>Submit event for review
          </button>
          <button data-modal-toggle="submitEventModal" type="button"
                  class="w-full justify-center sm:w-auto text-white inline-flex items-center button_body_orange">
            <i class="fa-solid fa-xmark mr-1"></i>
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<style>
  .h-modal {
    max-height: calc(100vh - 2rem);
  }
</style>
