{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

{% include 'head_base.html' %}

<body class="bg-gray-100 min-h-screen">
{% include 'header_base.html' with title="Events" %}

<!-- Content -->
<main class="container mx-auto mt-7">
  <section>
    <!--   Content Goes here     -->
    {% block content %}
    {% endblock %}
  </section>
</main>

{% include 'footer_base.html' %}

{% block modal %}{% endblock modal %}

{% block inline_javascript %}
  {% comment %}
        Script tags with only code, no src (defer by default). To run
        with a "defer" so that you run inline code:
        <script>
          window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
        </script>
        {% endcomment %}
{% endblock inline_javascript %}
{#<script>#}
{#    function hideLoader(image) {#}
{#        // Hide the loader and show the image#}
{#        image.previousElementSibling.classList.add('hidden');#}
{#        image.classList.remove('hidden');#}
{#    }#}
{##}
{#    // Show the loader initially#}
{#    document.querySelector('.loader').classList.remove('hidden');#}
{#</script>#}
</body>
<style>
    .logo-container {
        position: absolute;
        left: 1rem;
        top: -20px; /* Adjust this value to control the vertical position of the logo */
        left: 0px; /* Adjust this value to control the vertical position of the logo */
    }
</style>
</html>
