{% load static i18n %}
<a href="{% url 'home' %}">
  <img class="nav_logo"
       src="{% static 'images/BC_EventSupport_site_logo.png' %}"
       alt="Logo">
</a>
<!-- DEV NAV -->
{% if DEBUG %}
  <div class="text-blue-600 bg-yellow-200 text-center">
    <h3 class="text-blue-600 bg-yellow-200 text-center">DEBUG MODE</h3>
  </div>
{% endif %}
<header class="bg-white flex flex-col w-full">
  <!-- Message -->
  <div id="messageBox"
       class="fixed top-0 right-0 m-8 hidden flex items-center p-4 text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400"
       role="alert">
    <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
         viewBox="0 0 20 20">
      <path
        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
    </svg>
    <div id="messageContent" class="ml-3 text-sm font-medium"></div>
    <button id="closeMessageBtn"
            class="ml-auto -mx-1.5 -my-1.5 bg-blue-50 text-blue-500 rounded-lg p-1.5 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-blue-400 dark:hover:bg-gray-700"
            aria-label="Close">
      <span class="sr-only">Close</span>
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
    </button>
  </div>
  {% if messages %}
    <ul class="django-messages hidden">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  </div>
  <!-- First level navigation -->
  <div
    class="flex flex-row border-b-2 py-2 border-gray-200 sm:justify-end md:justify-between justify-end items-center">
    <a class="hidden md:block md:text-xl font-semibold bctextgreen lg:ml-28 md:ml-24"
       href="https://www.bicyclecolorado.org/events-2/event-support/" target="_blank">Event Support Program</a>
    <nav class="flex flex-row justify-end items-center z-50">
      <ul>
        <li class="group menu_dropdown_li">
          <a href="https://www.bicyclecolorado.org/" target="_blank"><i class="fa-solid fa-bars pr-1"></i>BICYCLE
            COLORADO</a>
          <div class="group-hover:block dropdown-menu absolute left-0 hidden h-auto">
            <ul class="top-0 flex flex-col bg-gray-50 shadow px-3 py-3">
              <li class="py-1"><a
                class="user_menu_txt"
                href="https://www.bicyclecolorado.org" target="_blank">
                <i class="fa-solid fa-book-open-reader pr-1"></i>Learn More</a>
              </li>
              <li class="py-1"><a
                class="user_menu_txt"
                href="https://www.bicyclecolorado.org/bike-news/" target="_blank"><i
                class="fa-solid fa-newspaper pr-1"></i>Bike
                News</a>
              </li>
              <li class="py-1"><a
                class="user_menu_txt"
                href="https://www.bicyclecolorado.org/join-us/donate/" target="_blank"><i
                class="fa-solid fa-handshake-angle pr-1"></i>Donate</a>
              </li>
              <li class="py-1"><a
                class="user_menu_txt"
                href="https://www.bicyclecolorado.org/about-bicycle-colorado/mission-statement/" target="_blank"><i
                class="fa-solid fa-user pr-1"></i>Mission</a>
              </li>
              <li class="py-1"><a
                class="user_menu_txt"
                href="https://www.bicyclecolorado.org/about-bicycle-colorado/our-team/" target="_blank"><i
                class="fa-solid fa-people-group pr-1"></i>Our Team</a>
              </li>
            </ul>
          </div>
      </ul>
      <!-- Check login status -->
      {% if request.user.is_authenticated %}
        <!-- Logged in User Menu -->
        <ul>
          <li class="group menu_dropdown_li">
            {% if request.user.avatar %}
              <a class="flex items-center" href="{% url 'users:detail' request.user.pk %}">
                <img class="small_avatar"
                     src="{{ request.user.avatar.url }}"
                     alt="Avatar"/><i class="pr-1"></i>{{ request.user.full_name }}</a>
            {% else %}
              <a class="small_avatar" href="{% url 'users:detail' request.user.pk %}">
                <i class="fa-solid fa-user"></i><i class="pr-1"></i>{{ request.user.full_name }}
              </a>
            {% endif %}
            <!-- Logged in User dropdown menu -->
            <div class="group-hover:block dropdown-menu absolute left-0 hidden h-auto">
              <ul class="top-0 w-52 bg-gray-50 shadow px-3 py-3">
                <li class="py-1"><a
                  class="user_menu_txt"
                  href="{% url 'users:detail' request.user.pk %}"><i class="fa-solid fa-user px-1"></i>Profile</a>
                </li>
                <li class="py-1"><a
                  class="user_menu_txt"
                  href="{% url 'users:update' %}"><i class="fa-solid fa-user-pen px-1"></i>Edit Profile</a></li>
                <li class="py-1"><a
                  class="user_menu_txt"
                  href="{% url 'account_email' %}"><i class="fa-solid fa-envelope-circle-check px-1"></i>Edit
                  Email</a>
                </li>
                <li class="py-1"><a
                  class="user_menu_txt"
                  href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt px-1"></i>Sign Out </a></li>
                {% if user.is_staff %}
                  <li class="py-1">
                    <hr>
                    <p class="user_menu_txt">BC STAFF</p>
                  </li>

                  <li class="py-1"><a
                    class="user_menu_txt"
                    href="{% url 'event:raceseries_create' %}"><i class="fas fa-circle-plus px-2"></i>Race
                    Series</a>
                  </li>
                  <li class="py-1"><a
                    class="user_menu_txt"
                    href="{% url 'membership:clubs_admin' %}"><i class="fas fa-solid fa-people-group px-2"></i>Clubs
                  </a>
                  </li>
                  <li class="py-1"><a
                    class="user_menu_txt"
                    href="{% url 'store:stripe_accounting' %}"><i class="fas fa-brands fa-cc-stripe px-2"></i>Stripe
                  </a>
                  </li>
                  <li class="py-1"><a
                    class="user_menu_txt"
                    href="{% url 'usac:importcsv' %}"><i class="fas fa-solid fa-file-csv px-2"></i>Import USAC</a>
                  </li>
                  <li class="py-1"><a
                    class="user_menu_txt"
                    href="{% url 'users:emails' %}"><i class="fas fa-solid fa-envelopes-bulk px-2"></i>Test
                    Emails</a>
                  </li>
                  <li class="py-1"><a
                    class="user_menu_txt"
                    href="{% url 'event:events_waiting_approval' %}"><i
                    class="fa-solid fa-calendar-days"></i>
                    Approve Events
                  </a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </li>
        </ul>
        <!-- If not logged in -->
      {% else %}
        {% if ACCOUNT_ALLOW_REGISTRATION %}
          {# URL provided by django-allauth/account/urls.py #}
          {#            <button type="button" onclick="location.href='{% url 'account_signup' %}'"#}
          {#              {% translate "JOIN" %}#}
          {#            </button>#}
          <button type="button" onclick="location.href='{% url "home" %}#join'"
                  class="join_button">
            {% translate "JOIN" %}
          </button>

        {% endif %}
        {# URL provided by django-allauth/account/urls.py #}
        <button type="button" onclick="location.href='{% url 'account_login' %}'"
                class="ml-1 mr-2 signin_button">
          {% translate "Sign In" %}
        </button>
      {% endif %}
    </nav>
  </div>


  <!-- Second Level -->
  <nav class="nav">
    <div class="nav_div">
      {#      <a href="{% url 'home' %}" class="flex items-center">#}
      {#        <span class="nav_title">Event Support Program</span>#}
      {#      </a>#}
      <button data-collapse-toggle="navbar-dropdown" type="button"
              class="nav_mobile_button"
              aria-controls="navbar-dropdown" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <i class="fa-solid fa-bars fas fa-lg"></i>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
        <ul
          class="nav_ul">
          <li>
            <a href="{% url 'home' %}"
               class="nav_link"
               aria-current="page">Home</a>
          </li>
          <li>
            <button id="dropdownNavbarLinkEvent" data-dropdown-toggle="dropdownHoverEvent"
                    data-dropdown-trigger="hover"
                    data-dropdown-offset-distance=0 data-dropdown-delay=5
                    class="nav_link ">
              Events
            </button>
            <!-- Dropdown menu -->
            <div id="dropdownHoverEvent"
                 class="nav_dropdown_div">
              <ul class="nav_dropdown_ul">
                <li>
                  <a href="{% url  'event:event_list' %}" class="nav_dropdown_link"><i
                    class="fa-solid fa-calendar-days"></i> Calendar</a>
                </li>
                <li>
                  <a href="{% url  'event:event_create' %}" class="nav_dropdown_link"><i
                    class="fa-solid fa-square-plus"></i> Submit</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <button id="dropdownNavbarLinkResults" data-dropdown-toggle="dropdownHoverResults"
                    data-dropdown-trigger="hover" data-dropdown-offset-distance=0 data-dropdown-delay=5
                    class="nav_link ">
              Results
            </button>
            <!-- Dropdown menu -->
            <div id="dropdownHoverResults"
                 class="nav_dropdown_div">
              <ul class="nav_dropdown_ul">
                <li>
                  <a href="{% url "event:events_results_list" %}" class="nav_dropdown_link"><i
                    class="fa-solid fa-list-ol"></i> Results</a>
                </li>
                <li>
                  <a href="{% url  'event:events_results_list' %}#raceseries_list" class="nav_dropdown_link"><i
                    class="fa-solid fa-trophy"></i> Cups</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="{% url 'membership:organizations' %}"
               class="nav_link">Clubs</a>
          </li>
          <li>
            <a href="{% url 'membership:promoters' %}"
               class="nav_link">Promoters</a>
          </li>
          <li>
            <a href="https://www.bicyclecolorado.org/events-2/event-support/" target="_blank"
               class="nav_link">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
