{% extends "BC/base_dv.html" %}
{% block content %}
{% load static %}
<!-- content -->
<section class="content">
    <!-- event detail -->
    <div class="event-detail-outer">
        <div class="container">
            <div class="event-detail-inner">
                <!-- Left Side Content -->
                <div class="event-detail-left">
                    <a href="{% url 'events-dv' %}" class="events-link">Back To Events</a>
                    {% if object.prefs.banner_image %}
                        <img
                                src="{{ object.prefs.banner_image }}"
                                alt="Event Banner" title="" class="img-responsive">
                    {% endif %}
                    <div class="eventdetail-inner">
                        <h2>{{ object.name }}</h2>
                        {% if object.description %}
                            <p>
                                {{ object.description }}
                            </p>
                        {% endif %}
                        {% if object.prefs.information_board_content %}
                            <p>
                            <hr>
                            {{ object.prefs.information_board_content | safe }}
                            </p>
                        {% endif %}

                        {% if object.more_data and object.more_data.panels %}
                            {% for panel in  object.more_data.panels %}
                                {% if "iframe" in panel.url %}
                                    {{ panel.url |safe }}
                                {% else %}
                                    <iframe src="{{ panel.url }}" height="350" width="100%"></iframe>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if Races %}
                            <h4>Race Results</h4>
                            {% for race in Races %}
                                <h5>Race Name: {{ race.name }}</h5>
                                <ul>
                                    {% for result in RaceResults %}
                                        {% if result.race == race %}
                                        <li>{{ result.place }}: {{ result.rider }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <br>
                            {% endfor %}
                            <br>
                        {% endif %}
                    </div>
                    <a href="{% url 'events-dv' %}" class="events-link">Back To Events</a>
                </div>

                <!-- Right Side Content -->
                <div class="event-detail-right">
                    <h3 style="margin-bottom:2px;padding-bottom:5px">Event Details</h3>
                    <div class="detailright-inner">
                        <div class="margin-bottom:4px">
                            {% if event.is_usac_permitted %}
                                <img style="max-width:30px" title="USAC Event"
                                     src="{% static 'images/USACycling_Logo_noborder.svg' %}" alt="My image"/>
                            {% endif %}
                            {% if event.featured_event %}
                                <img width="30" height="30" title="Featured Event"
                                     src="{% static 'images/bc-icon.png' %}" alt="My image"/>
                            {% endif %}
                        </div>
                        <h4>When: </h4>

                        <h5>{{ object.start_date }} - {{ object.end_date }}</h5>
                        <a href="{% url 'ics' %}?event_id={{ object.id }}">
                            Add to calendar
                        </a>

                    </div>
                    {% if object.website %}
                        <a href="{{ object.website }}" style="margin-bottom:10px;" class="moreinfo-btn"
                           target="_blank"
                        >Event Website</a>
                    {% endif %}
                    {% if object.registration_website %}
                        <a href="{{ object.registration_website }}" style="margin-bottom:10px;" class="moreinfo-btn"
                           target="_blank"
                        >Registration</a>
                    {% endif %}
                    <div class="detailright-inner">
                        <h4>Location</h4>
                        <h5><span>
                            {% if object.city %} {{ object.city }}, {% endif %}
                            {% if object.state %} {{ object.state }}{% endif %}
                        </span></h5>
                    </div>
                    {% if object.location_lat and object.location_lon %}

                        <div class="event-map">
                            <iframe frameborder="0" style="border:0"
                                    src="https://www.google.com/maps/embed/v1/place?key={{ GOOGLE_MAP_API_TOKEN }}&q=
                        {{ object.location_lat }} , {{ object.location_lon }} &zoom=16"
                                    allowfullscreen></iframe>
                        </div>
                    {% endif %}
                    <div class="detailright-inner">
                        <hr>
                        <h4>Event Files</h4>
                        {% if object.attachments.count >= 1 %}
                            {% for attachment in object.attachments.all %}
                                <a target="_blank" href="{{ attachment.file.url }}">{{ attachment.file_name }}</a>
                            {% endfor %}
                        {% else %}
                            <p>No Files</p>
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</section>
{% endblock %}
