{% extends "BC/base_dv.html" %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Join {{ org.name }}</title>
</head>
{% block content %}
    <section class="content">
        <br>
        <br>
        <br>
        <form method="post">
            {% csrf_token %}
            <ui>
                <li> You: {{ user.member.first_name }} {{ user.member.last_name }}</li>
                <input type="hidden" name="member" value="{{ user.member.id }}">
                <li> Are requesting membership in {{ organization }}</li>
                <input type="hidden" name="organization" value="{{ organization }}">
                <input type="hidden" name="is_active" value="False">
                <li><textarea class="scrollabletextbox" name="note">
                {{ Club.waiver_text }}
                </textarea></li>
                <li><input type="checkbox" name="waiver_accept" value="accept"></li>

            </ui>
                <br>
            <button class="btn btn-primary my-4" type="submit">Join {{ org.name }}</button>
        </form>
    </section>
{% endblock %}
