{% extends "BC/base_dv.html" %}
{% block content %}
    <section class="content">
        <div class="colo-events-outer">
            <br>
            <br>
            <br>

            <p>The purpose of this tool is to validate the status of entries or results.
                Uploading a file will quickly result in a file being downloaded with additional columns.
            </p>
            <p>The following columns are required exactly as listed below.
                <br>- "License"
                <br>- "First Name"
                <br>- "Last Name"
                <br>- "Club"
                <br>- "Gender" Optional
                <br>- "Email" Optional
            </p>

            <p>Requirements:
                <br>1. To participate in USAC event: Valid USAC license (Domestic, International, Collegiate)
                <br>2. To earn points individual points in road, cross cup points. USAC and BC membership.
                <br>3. To earn points for your club. 1 and 2 plus you club must be a BC and USAC club.
            </p>

            <p>Following columns will be added:
                <br>- <i>BC_USAC_LICENSE_ON_RECORD</i>: [ONE DAY, FALSE, TRUE, NOT VERIFIED, ERROR]
                <br>- <i>BC_VALID_USAC_LICENCES</i>: [ONE DAY, list of valid license type, ERROR]
                <br>- <i>BC_USAC_CLUB_STATUS</i>: [ONCE DAY, NO CLUB, LICENSE NOT FOUND, VALID, INVALID, ERROR] Does the
                entry match their USAC club.
                <br>- <i>BC_CLUB_STATUS</i> [ONCE DAY, NO CLUB, LICENSE NOT FOUND, VALID, INVALID, ERROR] Does the entry
                match their WRH club.
                <br>- <i>BC_BC_MEMBER</i>: [TRUE, FALSE, LICENse NOT FOUND, ERROR]
                <br>- <i>BC_CLUB_MEMBERSHIPS</i>: The WRH clubs the person is a member of or ERROR
                <br>- <i>BC_LOCAL_ASSOCIATION</i>: The listed local association or ERROR
                <br>- <i>BC_USAC_CLUBS</i>: list of clubs or Error
            <p>These are the critical columns which are derived from the above columns.</p>
            <br>- <i>BC_RACE_READY</i>: [TRUE, FALSE]
            <br>- <i>BC_INDIVIDUAL_CUP_READY</i>: [TRUE, FALSE]
            <br>- <i>BC_TEAM_CUP_READY</i>
            </p>

            <form method="POST" enctype="multipart/form-data" class="form-horizontal">
                {% csrf_token %} {{ form.as_p }}
                <button type="submit">Upload</button>
            </form>
        </div>
    <br>
    <br>
    </section>
{% endblock %}
