{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% translate "Confirm E-mail Address" %}{% endblock %}

{% block inner %}
  <h1 class="text-xl font-bold mb-4">{% translate "Confirm E-mail Address" %}</h1>

  {% if confirmation %}
    {% user_display confirmation.email_address.user as user_display %}

    <p class="mb-4">{% blocktranslate with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}" class="text-blue-600 hover:text-blue-800">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktranslate %}</p>

    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
      {% csrf_token %}
      <button class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300" type="submit">{% translate 'Confirm' %}</button>
    </form>
  {% else %}
    {% url 'account_email' as email_url %}

    <p class="mb-4">{% blocktranslate %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}" class="text-blue-600 hover:text-blue-800">issue a new e-mail confirmation request</a>.{% endblocktranslate %}</p>
  {% endif %}
{% endblock %}
