{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Sign Out" %}{% endblock %}

{% block inner %}
<div class=" flex  justify-center">
  <div>
    <h1 class="font-bold text-2xl mb-6">{% translate "Sign Out" %}</h1>

    <p class="mb-6">{% translate 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" type="submit">{% translate 'Sign Out' %}</button>
    </form>
  </div>
</div>
{% endblock %}
