{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Verify Your E-mail Address" %}{% endblock %}

{% block inner %}
  <div class="w-full max-w-md mx-auto">
    <h1 class="text-4xl font-bold text-center text-blue-600 mb-8">{% translate "Verify Your E-mail Address" %}</h1>

    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 border border-blue-200">
      <p class="text-lg mb-6 text-gray-700">
        {% blocktranslate %}
          We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.
        {% endblocktranslate %}
      </p>
    </div>
  </div>
{% endblock %}
