{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}

{% block title %}BC Staff Club tools{% endblock %}

{% block content %}
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-4">BC staff admin tools</h1>
  </div>

  <b>Club Data</b>

  <details>
    <summary>USAC and BC: {{ clubs.both|length }}</summary>
    <ul>
      {% for c in clubs.both %}
        <li>{{ c }}</li>
      {% endfor %}
    </ul>
  </details>

  <details>
    <summary>
      BC and not USAC: {{ clubs.org_only|length }}
    </summary>
    <ul>
      {% for c in clubs.org_only %}
        <li>{{ c }}</li>
      {% endfor %}
    </ul>
  </details>

  <details>
    <summary>
      USAC and not BC: {{ clubs.usac_only|length }}
    </summary>
    <ul>
      {% for c in clubs.usac_only %}
        <li>{{ c }}</li>
      {% endfor %}
    </ul>
  </details>
{% endblock %}
