{% extends "base.html" %}
{% load static %}

{#{% block title %}User: {{ object.name }}{% endblock %}#}

{% block content %}
  <section id="profile">
    <div class="mt-7 overflow-x-auto">
      <div
          class="message_box">
        <ul class="message_list">Complete your profile
          {% for a, m in object.alerts.items %}
            <li class="font-medium">{{ a }}: {{ m }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="flex items-center justify-center my-5">
        {% if object.avatar %}
          <img class="w-[75px] h-[75px] object-cover object-center w-7 rounded-full" src="{{ object.avatar.url }}"
               alt="avatar">
        {% else %}
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
               src="https://dummyimage.com/75x75">
        {% endif %}
        <div class="flex items-center pl-5">
          <p class="text-base font-medium leading-none text-orange-600 hover:text-orange-800 dark:text-white  mr-2">
            {{ object.full_name }}</p>
        </div>
      </div>
    </div>
  </section>
  {% include "components/profile_results.html" %}

{% endblock content %}
