{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.name }}{% endblock %}

{% block content %}
  {#<div class="container">#}
  {##}
  {#  <div class="row">#}
  {#    <div class="col-sm-12">#}
  {##}
  {#      <h2>{{ object.name }}</h2>#}
  {#      {% if object.name %}#}
  {#        <p>{{ object.name }}</p>#}
  {#      {% endif %}#}
  {#    </div>#}
  {#  </div>#}
  {##}
  {#{% if object == request.user %}#}
  {#<!-- Action buttons -->#}
  {#<div class="row">#}
  {##}
  {#  <div class="col-sm-12">#}
  {#    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>#}
  {#    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>#}
  {#    <!-- Your Stuff: Custom user template urls -->#}
  {#  </div>#}
  {##}
  {#</div>#}
  {#<!-- End Action buttons -->#}
  {#{% endif %}#}
  {##}
  {#</div>#}
  <div class="mt-7 overflow-x-auto">
  <div class="flex items-center border-2 border-orange-600 justify-center my-5">
    <ul>Hello {{ object.full_name }}
      {% for a, m in object.alerts.items %}
        <li>{{ a }}: {{ m }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="flex items-center justify-center my-5">
    {% if object.avatar %}
      <img class="w-[75px] h-[75px] object-cover object-center w-7 rounded-full" src="{{ object.avatar.url }}"
           alt="avatar">
    {% else %}
      <img alt="ecommerce" class="object-cover object-center w-full h-full block"
           src="https://dummyimage.com/75x75">
    {% endif %}
    <div class="flex items-center pl-5">
      <p class="text-base font-medium leading-none text-orange-600 hover:text-orange-800 dark:text-white  mr-2">
        NAME: {{ object.full_name }}</p>
    </div>
  </div>
  <div class="flex items-center justify-center my-5">
    <p class="text-base font-medium leading-none text-gray-500  mr-2"> Race Results: </p>
  </div>
  <div class="flex items-center justify-center">
    <table class="w-1/2 whitespace-nowrap">
      <tbody>
      <tr>
        <th>Date</th>
        <th>Event</th>
        <th>Place</th>
      </tr>
      <tr>
        <th>1/1/2023</th>
        <th>Awesome Event</th>
        <th>1st</th>
      </tr>
      </tbody>
    </table>
  </div>

{% endblock content %}
